
.wrapper {
	margin-top: 30px;
	display: grid;
	grid-template-columns: 320px auto;
	grid-template-areas: 
	"breadcrumbs breadcrumbs"
	"menu title"
	"menu content"
	". content";
	grid-template-rows: auto auto auto 1fr;
	gap: 0 20px;
}

.content{
	grid-area: content;
}

.breadcrumbs {
	grid-area: breadcrumbs;
}

.title {
	margin-top: 30px;
	grid-area: title;
}

.sort {
	margin-top: 20px;
	grid-area: sort;
}

.menu {
	margin-top: 30px;
	grid-area: menu;
}

.submenu {
	margin-top: 20px;
	/* grid-area: submenu; */
}

.sort {
	margin-top: 30px;
}

.products{
	margin-top: 30px;
	/* grid-area: products; */
}

.description {
	margin-top: 30px;
	/* grid-area: description; */
}

