.input {
	height: 100%;
	width: 100%;
	padding: 7px 15px;
	color: var(--black);
	border: none;
	border-radius: 5px;
	outline-color: var(--primary);
	background: var(--white);
	font-size: 16px;
	line-height: 22px;
}

.input::placeholder {
	color: var(--gray);
}

.error {
	outline-color: var(--red);
	/* border: 1px solid var(--red); */
	/* box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.15); */
}

.inputWrapper {
	position: relative;
}

.errorMessage {
	position: absolute;
	font-size: 10px;
	bottom: -13px;
	left: 0;

	color: var(--red);
}
