
.p {
	margin: 0;
	color: var(--black);
}

.white {
	color: var(--white);
}

.s {
	font-size: 10px;
	line-height: 15px;
}

.m {
	font-size: 15px;
	line-height: 20px;
}

.l {
	font-size: 20px;
	line-height: 25px;
}