
.wrapper {
  display: grid;
  grid-template-columns: auto minmax(320px, 1250px) auto;
  margin: auto;
  grid-template-areas: 
  ". title ."
  ". description ."
  ". table ."
  ;
  gap: 0 30px;
}

.titleBlock{
  margin-top: 30px;
  grid-area: title;
}

.title {

}

.descriptionBlock {
  margin-top: 20px;
  grid-area: description;
}

.description_one {

}

.description_second {
  margin-top: 20px;
}

.property {
  /* margin-top: 50px; */
  grid-area: table;
}
.property table {
  margin: 0;
  margin-top: 20px;

  /* grid-area: table; */
}


.property td {
  width: 300px;
  border: none;

}
