
.footer {
	background: #ebeced;
	display: grid;
	grid-template-columns: auto 240px 250px 300px auto auto;
	grid-template-areas: 
		". about_company catalog contacts map ."
		". footer_bottom footer_bottom footer_bottom map ."
	;
}

.title {
	margin-top: 25px;
	margin-bottom: 15px;
}

.list  {
	list-style: none;
	margin: 0;
	padding: 0;
}

.listItem  {
	line-height: 30px;
}



.about_company {
	grid-area: about_company;
	padding: 0 20px;
}

.catalog {
	grid-area: catalog;
	padding: 0 20px;
}

.sale {
	color: var(--primary);
	font-weight: 700;
}

.contacts {
	grid-area: contacts;
	padding: 0 10px;
}

.phone {
	display: inline-flex;
	align-items: center;
	gap: 5px;
}

.time {
	line-height: 20px;
	display: flex;
	align-items: center;
	gap: 5px;
}

.mail {
	display: inline-flex;
	align-items: center;
	gap: 5px;
}

.address {
	display: inline-flex;
	align-items: center;
	gap: 5px;
}

.map {
	grid-area: map;
	margin-bottom: 15px;
}

.footer_bottom {
	margin-top: 20px;
	grid-area: footer_bottom;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 5px;
	padding: 0 20px;
}

.line {
	height: 1px;
	background-color: var(--primary);
}

.footer_bottom_element {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer_bottom_link {
	font-size: 11px;
	margin-right: 10px;
}