
.footer {
	display: grid;
	grid-template-columns: minmax(320px, 1600px);
	margin: auto;
	justify-items: center;
}

.wrapper {
		display: grid;
		width: 100%;
		grid-template-columns: auto 240px 250px 300px 1fr auto;
		grid-template-areas:
			". about_company catalog contacts map ."
			". footer_bottom footer_bottom footer_bottom map ."
		;
}

.title {
	margin-top: 25px;
	margin-bottom: 15px;
}

.list  {
	list-style: none;
	margin: 0;
	padding: 0;
}

.listItem  {
	line-height: 30px;
}



.about_company {
	grid-area: about_company;
	padding: 0 20px;
}

.catalog {
	grid-area: catalog;
	padding: 0 20px;
}

.sale {
	color: var(--primary);
	font-weight: 700;
}

.contacts {
	grid-area: contacts;
	padding: 0 10px;
}

.phone {
	display: inline-flex;
	align-items: center;
	gap: 5px;
}

.phone svg {
	fill: var(--primary)
}

.time {
	line-height: 20px;
	display: inline-flex;
	align-items: center;
	gap: 5px;
}

.time svg {
	fill: var(--primary)
}

.mail {
	display: inline-flex;
	align-items: center;
	gap: 5px;
}

.mail svg {
	fill: var(--primary)
}

.address {
	display: inline-flex;
	align-items: center;
	gap: 5px;
}

.address svg {
	fill: var(--primary)
}

.map {
	grid-area: map;
	margin-bottom: 15px;
}

.footer_bottom {
	margin-top: 20px;
	grid-area: footer_bottom;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 5px;
	padding: 0 20px;
}

.line {
	height: 1px;
	background-color: var(--primary);
}

.footer_bottom_element {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer_bottom_link {
	font-size: 11px;
	margin-right: 10px;
}

@media(max-width:1600px) {
	.footer {
		grid-template-columns: minmax(320px, 1600px);
	}
}

@media(max-width:1200px) {
	.footer {
		grid-template-columns: minmax(320px, 1200px);
	}

	.wrapper {
		grid-template-columns: auto auto auto auto auto auto;
	}
}

@media(max-width: 1000px) {
	.footer {
		grid-template-columns: minmax(320px, 765px);
		padding: 20px;
	}
	.wrapper {
		grid-template-columns: auto auto auto auto;
		grid-template-areas:
				". catalog about_company ."
				". contacts map ."
				". footer_bottom map ."
			;
	}

	.listItem {
		font-size: 22px;
		line-height: 35px;
	}

	.title {
		font-size: 25px;
	}
}

@media(max-width: 550px) {
	.footer {
		grid-template-columns: minmax(320px, 550px);
	}

	.wrapper {
		grid-template-columns: auto auto auto;
		grid-template-areas:
			". catalog  ."
			". about_company ."
			". contacts ."
			". map ."
			". footer_bottom ."
		;
		justify-items: center;
	}
	.map {
		height: 300px;
		margin-top: 20px;
	}

	.listItem {
		font-size: 20px;
		line-height: 35px;
		text-align: center;
	}

	.title {
		font-size: 25px;
		text-align: center;
	}
}