
.product {
	display: grid;
	grid-template-columns: auto auto;
}

.block_image {
	display: grid;
	grid-template-columns: auto;
}

.image {
	height: 405px;
	width: 600px;
}

.product_info {
	display: grid;
	grid-template-columns: auto auto;
}

.block_sale {
	display: grid;
	grid-template-columns: auto;
	justify-items: center;
}

.title {
	text-align: center;
	font-size: 25px;
}