.subscribe {
  display: grid;
  grid-template-columns: auto;
  background-color: var(--primary);
  height: 50px;
}

.wrapper {
  display: grid;
  grid-template-columns: minmax(320px, 1200px);
  align-items: center;
  margin: auto;
}

.wrapper_item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.title {
  text-align: right;
  margin-right: 20px;
}

.form {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 5px;
  margin-right: 20px;
}

.input {
  width: 100%;
}