.menu {
	margin-left: 30px;
	margin-top: 30px;
	width: 260px;
	box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.firstCategory {
	
}

.firstCategoryItem {
	height: 50px;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	display: flex;
	/* flex-direction: column; */
	justify-content: space-between;
	align-items: center;
	padding: 0 0 0 15px;
	color: var(--white);
	background: var(--primary);
	box-shadow: 0px 0px 1px 0px var(--white) inset;
	transition: all 0.2s;
}

.firstCategoryItem a {
	height: 100%;
}

.firstCategoryItemActive,
.firstCategoryItem:hover {
	color: var(--white);
	background: var(--primary-hover);
}

.iconOpen {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 50px;
	box-shadow: 0px 0px 1px 0px var(--white) inset;
	cursor: pointer;
}

.iconOpenActive {
	transition: all 0.5s;
	transform: rotate(90deg);
}

.link {
	display: flex;
	align-items: center;
	height: 100%;
	width: 195px;
	padding-right: 10px;
}

.secondCategory {
	display: none;
}

.secondCategoryActive {
	display: block;
}

.secondCategoryItem {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 50px;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	padding: 0 15px;
	box-shadow: 0px 0px 1px 0px var(--black) inset;
	transition: all 0.2s;
}

.secondCategoryItem:hover {
	background: var(--grey);
}

.secondCategoryItemActive {
	background: var(--grey);
}