html,
body {
	margin: 0;
	padding: 0;
	overflow: scroll;
	color: var(--black);

	background: #F5F6F8;

	font-family: sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}
:root {
	--primary: #0075BD;
	/* --primary: black; */
	--primary-hover: #0b679f;
	--primary-light: #337AB7;
	--black: #333;
	--white: #FFF;
	--green: #39A24B;
	--green-light: #1DC37E;
	--green-hover: #29973b;
	--red: #C32727;
	--cream: #FDE7C1;
	--orange: #FFAD1C;
	--orange-hover: #e29b22;
	--nav: #face7e;
	--grey: #EBEBEB;
	--grey-light: #F5F8FB;
	--orange-light: #fbc059;
	--blue: #72C7FB;
	--blue-light: #E2F4FF;
}

